# vscode
.vscode/

# pycharm
*.idea
.idea/
.run/
venv/

# __pycache__
pycache/
__pycache__/
*.py[cod]

temp/

# etc
.catkin_workspace
/.run/

# logfile
log/
src/train/data/
src/train/csvResult/
src/train/pngResult/
src/train/finalCSV/

# ros package
build/